* {
  font-size: 1.3rem;
  text-align: center;
}

  header {
  width: 375px;
  height: 110px;
  background-color: #28a4b6;
}

.pennyWiseTitle {

  width: 375px;
  height: 42px;
  font-family: PublicaPlay;
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}



.whatAreYouSavingUpFor {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: none;
  color: #28a4b6;


}

.computer {
  margin-left: 2rem;
  margin-bottom: 1rem;
  color: lightgray;
}

.emptyLine {
  margin-top: -2rem;
  margin-left: 1rem;
  color: lightgray;
}

button {
  margin-top: 1rem;
  margin-right: 2rem;
  background-color: #28a4b6;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;


}
