@font-face {
  font-family: "PublicaPlay-UltraLight";
  src: url('./fonts/PublicaPlay-UltraLight.ttf') format("truetype");
}
@font-face {
  font-family: "PublicaPlay-Medium";
  src: url('./fonts/PublicaPlay-Medium.ttf') format("truetype");
}
@font-face {
  font-family: "PublicaPlay-UltraLightItalic";
  src: url('./fonts/PublicaPlay-UltraLightItalic.ttf') format("truetype");
}
@font-face {
  font-family: "PublicaPlay-RegularItalic";
  src: url('./fonts/PublicaPlay-RegularItalic.ttf') format("truetype");
}
@font-face {
  font-family: "PublicaPlay-BoldItalic";
  src: url('./fonts/PublicaPlay-BoldItalic.ttf') format("truetype");
}
@font-face {
  font-family: "PublicaPlay-Light";
  src: url('./fonts/PublicaPlay-Light.ttf') format("truetype");
}
body {
  margin: 0;
  display: flexbox;
  align-content: center;
  /* align-items: center; */
}


.header {
  position            : relative;
  background-color    : #28a4b6;
  top                 : 0px;
  height              : 110px;
  width               : 100vw;
  text-align          : center;
}

.home-button {
  top                 : 43px;
  position            : absolute;
  left                : 30px;
  color               :#ffffff;
}

.header-title {
  top                 : 43px;
  position            : relative;
  font-family         : "PublicaPlay-BoldItalic", Helvetica, Arial, serif;
  font-size           : 36px;
  color               :#ffffff;
}

.container {
  display: flex;
  align-items: center;
}

.daily-goals-total {
    align-self: center;
}

.weekly-goals-total {
    align-self: center;
}

.new-goal-button {
    display: flex;

  width: 327px;
  height: 80px;
  border: solid 2px #2cc0c8;
  font-family         : "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 36px;
  line-height         : 43.0px;
  letter-spacing: normal;
  text-align: center;
  color: #2cc0c8;


}

.new-goal-text {
  align-self: center;
  color: #2cc0c8;
}

.goal-card{
  display: flex;
  position: relative;
  /* margin: auto; */
  left: 38px;
  /* text-align: center; */
  top: 54px;
  bottom: 34px;
  width: 327px;
  height: 152px;
  font-family         : "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : #ffffff;
}

.teal {
  background          : linear-gradient(to left, #182664, #2cc0c8);
}

.pink {
  background-image    : linear-gradient(to left, #ff5cf7, #e57c65 100%);
}

.orange {
  background-image    : linear-gradient(to left, #dd003d, #f36a04 51%, #ffde02);
}

.gray {
  background-image    : linear-gradient(to left, #363535, #cccccc);
}


.goal-card-title {
  margin: 20px;
}

.daily-goal {
  position            : absolute;
  bottom              : 10px;
  right               : 20px;
  font-family         : "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               :#ffffff;
} */



.teal {
  width: 327px;
  height: 152px;
  background-image: linear-gradient(to left, #182664, #2cc0c8);
}

.-toward-6000 {
  margin-left: 77px;
  width: 261px;
  height: 28px;
 font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2cc0c8;
}


.daysRemaining {
  margin-left: 80px;
  text-align: center;
  padding: 20px;
  width: 188px;
  height: 44px;
  font-family: "PublicaPlay-RegularItalic", Helvetica, Arial, serif;
  font-size: 44px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: right; */
  color: #2cc0c8;
}


.Days {
  width: 174px;
  height: px;
  font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2cc0c8;
}


 .dailyGoal, .weeklyGoal {
  width: 188px;
  height: 33px;
  font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 36.0px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2cc0c8;
  overflow: hidden;
}

/* .day, .week {
  width: 153px;
  height: 33px;
 font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #2cc0c8;
} */

 .weeklyGoal{
  float: right;

}

.dailyGoal {
  float: left;
}

.progress-bar {
  margin: 10px 12px -4px 14px;
  /* margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 1px; */
  height: 30px;
}

.bar-background {
  margin-top: 4px;
  width: 327px;
  height: 20px;
  background-color: #acabab;
  margin-left: 24px;
  margin-right: 24px;
}

.bar-green {
  height: 20px;
  background-color: #00ff00;
  z-index: 1;
}

.add-or-remove-funds {

  width: 375px;
  height: 40px;
  margin-top: 76px;
  margin-bottom: -67px;
  font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 30.0px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a9a9a9;
}

.Line {
   margin-left: 35px;
  width: 327px;
  height: 2px;
  background-color: #e0e0e0;
}

.Line2 {
  margin-left: 35px;
  margin-top: -8px;
  width: 338px;
  height: 2px;
  background-color: #e0e0e0;
}

.add-button, .subtract-button {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-top: 90px;
  /* margin-left: auto;
  margin-right: auto; */
}

.add-button {
  background-color: #2cc0c8;
  margin-left: 92px;

}
.subtract-button {
  background-color: #ff0083;
  margin-left: 108px;
}

.Transaction-History, .getTransAmount {
  margin-top: 25px;
  width: 375px;
  height: 40px;
  font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 27.0px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a9a9a9;
}


.onBoarding{
  position            : relative;
  margin              : auto;
  width               : 327px;
  height              : 152px;
}
.someStatement{
  width: 320px;
  height: 107px;
  font-family: "PublicaPlay-Medium", Helvetica, Arial, serif;
  font-size: 48px;
  font-style: italic;
  color: #2cc0c8;
}

.secondStatement{
  width: 328px;
  height: 21px;
  font-family: "PublicaPlay-UltraLightItalic", Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  color: #2cc0c8;
}
.getStartedNow{
  width: 158px;
  height: 21px;
  font-family: "PublicaPlay-Medium", Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #2cc0c8;
}
.getStartedButton{
  width: 328px;
  height: 92px;
  border: solid 2px #2cc0c8;
  font-family: "PublicaPlay-UltraLight",Helvetica, Arial, serif;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  color: #2cc0c8;
}
.form-group{
  display             : block;
  position            : relative;
  margin              : auto;
  text-align          : center;
  padding:50px;
}
.saveGoalButton{
  float:right;
  font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  width: 103px;
  height: 40px;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  background-color: #2cc0c8;
  color: #ffffff;
}
input[type=text],input[type=number]{
  background: transparent;
  width: 317px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.goalDetailsInput {
  background: transparent;
  width: 317px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  font-size:20px;
}

.Date, .Amount {
  display: inline-block;
  margin-top: 22px;
  margin-bottom: -15px;
  margin-left: 14px;
  width: 163px;
  height: 50px;
  font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a9a9a9;
}


 .transactionInputDate {
   margin-top: 10px;
  width: 164px;
  height: 64px;
  font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a9a9a9;
}

 .transactionInputAmount {
  width: 120px;
  height: 64px;
  font-family: "PublicaPlay-UltraLight", Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #2cc0c8;
}

.transactionInputDate, .transactionInputAmount {
  padding: 43px;
  /* padding-top: 10px; */
  /* margin-top: 10px; */
  margin-bottom: 12px;
}
